<div class="container">
    <div class="row justify-content-center">
        <div class="text-info p-5" *ngIf = "authservice.currentUser">
            <h2 class="alldata">
                user information
            </h2>
            <h4><b>User ID:</b>{{authservice.currentUserId}}</h4>
        </div>
    </div>
    <div class="row">
        <div class="todo-input-wrapper">
            <div>
              <input type="text" [(ngModel)]="todoText" value={{todoText}}/>
            </div>
            <div>
              <button class="btn" (click)="addTodo()">Add</button>
            </div>
          </div>
    </div>
</div>
